In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import warnings

np.random.seed(0)

warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
from sklearn.base import BaseEstimator

class LinearRegressionSGD(BaseEstimator):
    def __init__(self, epsilon=1e-4, max_steps=100, w0=None, alpha=1e-4):
        """
        epsilon: разница для нормы изменения весов
        max_steps: максимальное количество шагов в градиентном спуске
        w0: np.array (d,) - начальные веса
        alpha: шаг обучения
        """
        self.epsilon = epsilon
        self.max_steps = max_steps
        self.w0 = w0
        self.alpha = alpha
        self.w = None
        self.w_history = []

    def fit(self, X, y):
        """
        X: np.array (l, d)
        y: np.array (l)
        ---
        output: self
        """
        ## На каждом шаге градиентного спуска веса необходимо добавлять в w_history

        return self

    def predict(self, X):
        """
        X: np.array (l, d)
        ---
        output: np.array (l)
        """

        return y_pred

    def calc_gradient(self, X, y):
        """
        X: np.array (l, d)
        y: np.array (l)
        ---
        output: np.array (d)
        """

        return gradient

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import fetch_california_housing
data = fetch_california_housing(as_frame=True)
X = pd.DataFrame(data.data, columns=data.feature_names)
y = data.target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

20303    1.674
16966    3.541
10623    1.602
6146     1.408
2208     1.078
         ...
520      2.899
6833     2.682
9559     1.301
14878    1.504
2497     1.125
Name: MedHouseVal, Length: 6192, dtype: float64

In [ ]:
def MAPE(y_true, y_pred):
    #print(y_true)
    """
        y_true: np.array (l)
        y_pred: np.array (l)
        ---
        output: float [0, +inf)
    """
    for i in range( len(y_test)):
      sum = abs(y_true[i]- y_pred[i])/y_true[i]
    #print(sum)
    return sum/len(y_true)

In [ ]:
y_0 =  np.zeros(len(y_test))
y_test1 = y_test.to_numpy()
print(y_test1)
for i in range( len(y_test1)):
  y_0[i] = np.mean(y_test1)

print(MAPE(y_test1, y_0))

[1.674 3.541 1.602 ... 1.301 1.504 1.125]
0.0001361034409657539

In [ ]:
print(MAPE(y_test, y_0))

20303    0.238409
16966    0.414545
10623    0.294068
6146     0.472370
2208     0.923095
           ...
520      0.284893
6833     0.227033
9559     0.593464
14878    0.378389
2497     0.842753
Name: MedHouseVal, Length: 6192, dtype: float64
20303    0.000039
16966    0.000067
10623    0.000047
6146     0.000076
2208     0.000149
           ...
520      0.000046
6833     0.000037
9559     0.000096
14878    0.000061
2497     0.000136
Name: MedHouseVal, Length: 6192, dtype: float64